<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments :: sidebar"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div th:replace="fragments :: navbar"></div>

        <div class="container-lg pt-3">
            <div class="col noPadding">
                <h1 class="color-header text-uppercase">Lista radnych:</h1>
            </div>
            <div class="col d-flex justify-content-end mb-2 noPadding">
                <a th:href="@{/addcouncilman}" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Utwórz profil</a>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col" class="text-center">Akcja</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="councilman, stat: ${councilmans}">
                    <th scope="row" th:text="${stat.index+1}"></th>
                    <td th:text="${councilman.firstName}"></td>
                    <td th:text="${councilman.lastName}"></td>
                    <td class="row d-flex align-items-center justify-content-center flex-wrap">
                        <a th:href="@{/showcouncilman/{id}/(id=${councilman.getId()})}"
                           class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                        <a th:href="@{/updatecouncilman/{id}/(id=${councilman.getId()})}"
                           class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                        <a th:href="@{/deactivate/{id}/(id=${councilman.getId()})}"
                           class="btn btn-danger rounded-0 text-light m-1" th:if="*{councilman.isDelete==false}">Deaktywuj</a>
                        <a th:href="@{/activate/{id}/(id=${councilman.getId()})}"
                           class="btn btn-danger rounded-0 text-light m-1" th:if="*{councilman.isDelete==true}">Aktywuj</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>

<div th:replace="fragments :: jsscript"></div>

</body>


</html>
