<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/fragments :: header"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="common/fragments :: sidebar"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div th:replace="common/fragments :: navbar"></div>

<!--        <div class="container-fluid">-->
<!--            <form th:object="${councilman}" th:action="@{/addcouncilman}" method="post">-->
<!--                Imię <input type="text" id="firstName" name="firstName" th:value="*{firstName}"/>-->
<!--                Nazwisko <input type="text" id="lastName" name="lastName" th:value="*{lastName}"/><br>-->
<!--                Komisje <input type="text" id="committee" name="committee" th:value="*{committee}"/><br>-->
<!--                Opis <input type="text" id="description" name="description" th:value="*{description}"/><br>-->
<!--                email <input type="text" id="email" name="email" th:value="*{email}"/> <br>-->
<!--                Hasło <input type="text" id="password" name="password" th:value="*{password}"/>-->
<!--                <label>ROlA:</label>-->
<!--                <input type="radio" th:field="*{role}" value="1" />ADMIN-->
<!--                <input type="radio" th:field="*{role}" value="2" />COUNCILMAN<br/>-->
<!--                <input type="submit" value="Dodaj"/>-->
<!--            </form>-->

<!--            <table>-->
<!--                <tr th:each="councilman: ${councilmans}">-->
<!--                <td th:text="${councilman.firstName}"/>-->
<!--                <td th:text="${councilman.lastName}"/>-->
<!--                <td th:text="${councilman.committee}"/>-->
<!--                <td th:text="${councilman.description}"/>-->
<!--                <td th:text="${councilman.email}"/>-->
<!--                <td th:text="${councilman.role.role}"/>-->
<!--                </tr>-->
<!--            </table>-->


<!--                    <p th:text="${councilman.getFirstName()}"/>-->
<!--                    <td th:text="${councilman.getLastName()}"/>-->
<!--                    <td th:text="${councilman.getCommittee()}"/>-->
<!--                    <td th:text="${councilman.getDescription()}"/>-->
<!--                    <td th:text="${councilman.getEmail()}"/>-->
<!--                    <td th:text="${councilman.getRole().role}"/>-->
<!--                    <p th:text="${cou}"-->

    </div>
    <!-- /#page-content-wrapper -->

</div>

<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}"></script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>