<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Samorząd Terytorialny</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.min.css}"/>-->
    <link href="../static/css/simple-sidebar.css" rel="stylesheet" th:href="@{/css/simple-sidebar.css}"/>

</head>

<body>

<div th:fragment="sidebar">
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading text-center" ><a th:href="@{/}">Local GOV APP</a></div>
    <div class="sidebar-heading align-content-center"><img th:src="@{/images/gmchojnow.jpeg}"/></div>
    <div class="list-group list-group-flush pt-5">
        <a th:href="@{/showallcouncilman}" class="list-group-item list-group-item-action bg-light">Radni</a>
        <a th:href="@{/allorders}" class="list-group-item list-group-item-action bg-light">Porządki obrad</a>
        <a th:href="@{/showinterpellation}" class="list-group-item list-group-item-action bg-light">Interpelacje</a>
    </div>
    <div class="sidebar-heading" style="position: absolute; bottom: 1cm">
        <a th:href="@{/login}" class="btn btn-light">Zaloguj</a>
        <a th:href="@{/logout}" class="btn btn-light">Wyloguj</a>
    </div>
</div>
</div>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div  th:text="|Gmina Chojnów - z nią zawsze po drodze!|" class="navbar pl-lg-5" style="font-family: cursive">
<!--                <img th:src="@{/images/gmlogin.png}" style="width: 75px"/>-->

            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Strona Główna<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{https://www.gmina-chojnow.pl}">Gmina</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Panel administarcyjny
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/addcouncilman}">Utwórz profil Radnego</a>
                            <a class="dropdown-item" th:href="@{/admin/showallcouncilman}">Aktualizuj profil Radnego</a>
                            <a class="dropdown-item" th:href="@{/sessionadd}">Utwórz porządek obrad</a>
                            <a class="dropdown-item" th:href="@{/showint}">Interpelacje bez odpowiedzi</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

<div th:fragment="jsscript">
<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js}"></script>-->



<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</div>
</body>
</html>