<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments :: sidebar"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div th:replace="fragments :: navbar"></div>

        <div class="container-lg pt-3">

           TREŚĆ STRONY

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<div th:replace="fragments :: jsscript"></div>

</body>


</html>
