
<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Samorząd Terytorialny</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/simple-sidebar.css" rel="stylesheet"/>

</head>

<body>


<ul  style="display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem; padding-top:3rem!important">

    <li style="position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: 2;
  color: black;
  background-color: greenyellow;
  border-color: #007bff; text-align: center !important" th:text="|Interpelacja nr ${id}/${date}|"></li>

    <li style="position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: 2;
  color: black;
  background-color: white;
  border-color: #007bff; text-align: center !important; padding-top:25px!important; text-decoration: underline; " th:text="|TEMAT:|"></li>

    <li style="position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: dashed greenyellow; border-width: 0 0 3px 0; padding-top:25px!important; padding-bottom:25px!important;" th:text="${title}"></li>

    <li style="position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: 2;
  color: black;
  background-color: white;
  border-color: #007bff; text-align: center !important; padding-top:25px!important; text-decoration: underline" th:text="|TRESC:|"></li>


    <li style="position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: dashed greenyellow; border-width: 0 0 3px 0; padding-top:25px!important; padding-bottom:25px!important"  th:text="${description}"></li>


    <li style="position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-size: 80%;
  color: #6c757d; padding-top:40px!important; text-align: right" th:text="|Zgłosil: ${councilmanFN} ${councilmanLN} w dniu ${date}|"></li>

</ul>

</body>


</html>
