<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header"></head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments :: sidebar"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div th:replace="fragments :: navbar"></div>

        <div class="container-lg pt-3">

            <div class="container">
                <h3 class="pt-lg-5 text-center">[[${intmessage}]]</h3>
            </div>



            <div class="col pt-lg-5" th:if="${!allint.isEmpty()}">
                <h1 class="color-header text-uppercase text-center">Lista złożonych interpelacji:</h1>
            </div>

            <table class="table pt-lg-5" th:if="${!allint.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Temat</th>
                    <th scope="col">Treść</th>
                    <th scope="col">Data złożenia</th>
                    <th scope="col" class="text-center">Zgłaszający Radny</th>
                    <th scope="col" class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="interpellation: ${allint}">
                    <th scope="row" th:text="${interpellation.getKey().title}"></th>
                    <td th:text="${interpellation.getKey().description}"></td>
                    <td th:text="${#dates.format(interpellation.getKey().date, 'dd-MM-yyyy')}" th:if="${interpellation.getValue() != true}" style="color: red"></td>
                    <td th:text="${#dates.format(interpellation.getKey().date, 'dd-MM-yyyy')}" th:if="${interpellation.getValue() == true}"></td>
                    <td th:text="${interpellation.getKey().councilman.firstName} + ' ' + ${interpellation.getKey().councilman.lastName}"></td>
                    <td class="row d-flex align-items-center justify-content-center flex-wrap">
                        <a th:href="@{/interpellation/{id}/(id=${interpellation.getKey().getId()})}" class="btn btn-info rounded-0 text-light m-1">Generuj PDF</a>
                        <a th:href="@{/intans/{id}/(id=${interpellation.getKey().getId()})}" class="btn btn-info rounded-0 text-light m-1">Dodaj Odpowiedź</a>
                    </td>
                </tr>
                </tbody>
            </table>







        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<div th:replace="fragments :: jsscript"></div>

</body>


</html>
