<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header">

</head>

<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments :: sidebar"></div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div th:replace="fragments :: navbar"></div>

        <div class="container-lg pt-3">

<h1 class="text-center pb-lg-5">Kreator Porządku Obrad</h1>

            <form th:object="${order}"  th:action="@{/sessionadd}" method="post">

            <div class="form-group col-2 pl-0">
                <label for="number">Numer Sesji:</label>
                <input type="text" th:value="*{number}" class="form-control" id="number" name="number">
            </div>

            <select class="form-control">
                <option >Sesja zwołana w trybie zwyczajnym</option>
                <option>Sesja zwołana w trybie nadzwyczajnym</option>
            </select>

            <div class="row pt-5">
                <div class="col">
                     <label>Wybierz date posiedzenia:</label><input type="date" th:value="*{date}" id="name" name="date">
                </div>
                  <div class="col">
                     <label>Wpisz godzinę rozpoczęcia:</label><input type="time" th:value="*{time}" id="time" name="time">
                  </div>
             </div>

            <div class="form-group pt-lg-5">
                <label for="sessionelements">Wybierz elemety porządku obrad:</label>
                <div class="col d-flex justify-content-end noPadding">
                    <a th:href="@{/sessionadd}" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj nowy element</a>
                </div>

                <table class="table" id="sessionelements">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Elementy porządku obrad</th>
                        <th scope="col" class="text-center">Akcja</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="element: ${elements}">
<!--                        <th scope="row" th:text="${councilman.id}"></th>-->
                        <td th:text="${element.name}"></td>
                        <td class="row d-flex align-items-center justify-content-center flex-wrap">
                            <input type="submit" th:field="*{elems.}" value="Dodaj nowy element"/>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
<!--browse-->

              <div class="row pt-5">
                <div class="form-group col">
                    <label for="exampleFormControlInput1">Nazwa uchwały:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1">
                </div>
                 <div class="form-group col">
                     <label for="exampleFormControlFile1">Dodaj projekt uchwały:</label>
                     <input type="file" class="form-control-file" id="exampleFormControlFile1">
                 </div>
                <div class="form-group col pt-3">
                    <a th:href="@{/addcouncilman}" class="btn btn-success rounded-0 float-right">Dodaj nowy element</a>
                </div>
              </div>


                <div class="pt-5 float-right">
                    <input type="submit" value="Utwórz"/>
                </div>
            </form>

            <table>
                <tbody>
            <tr th:each="elem: ${sessionElem}">
                <th scope="row" th:text="${elem}"></th>

                <td class="row d-flex align-items-center justify-content-center flex-wrap">

                </td>
            </tr>
                </tbody>
            </table>



        </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<div th:replace="fragments :: jsscript">

</div>

</body>


</html>
